# containers proj
containers/lxc
containers/lxc_original

# HPP
HPP/src
HPP/remora

# kernel proj
kernel/linux-2.4.22
kernel/linux-2.6.18
kernel/linux-2.6.26
kernel/linux-2.6.32.27
kernel/linux-2.6.39
kernel/linux-2.6.8.1
kernel/linux-4.16

# libc
libc/glibc


# Networking
networking/unix_networkprog_src/

# OS
os/Linux_Prgramming_Interface/lpi-src


# OS Dev
osdev/jmos/tutorials
osdev/jmos/jamesm-tutorials
osdev/jmos/exp_tmp_minimal_linux_like_kernel_heap
osdev/jmos/exp_tmp_minimal_linux_like_kernel_tasking
osdev/jmos/exp_tmp_minimal_linux_like_kernel_usermode
osdev/oswiki/cross-compiler/cc*

# Posix threads
posix-threads/programming_with_posix_threads_src

# clan 
*.clang-format

# crypto
*.key
*.pem
**/id_rsa
**/id_rsa.pub

# ctags
*tags

# libs
*.so
*.a

# some compiling going on
*.o

# Make
*.d

# backups
*.swp

# Images
*.img

# Logs
**/bochsout.txt
